{% extends 'base.html.twig' %}

{% block title %}Edit Event{% endblock %}

{% block body %}
    <div class="row my-5">
        <div class="col-md-6 offset-md-3">
            <h2 class="font-weight-normal">Edit Event</h2>
            <a href="{{ path('publicview') }}" class="btn btn-danger">Back to List</a>
            <div class="my-4">
                {{ include('event/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
            {{ include('event/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
